<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-utilisateur-heading"
        data-cy="UtilisateurCreateUpdateHeading"
        jhiTranslate="gestionimmobiliereApp.utilisateur.home.createOrEditLabel"
      >
        Créer ou éditer un Utilisateur
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="gestionimmobiliereApp.utilisateur.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let iduserRef = editForm.get('iduser')!;
        <div class="mb-3">
          <label class="form-label" for="field_iduser" jhiTranslate="gestionimmobiliereApp.utilisateur.iduser">Iduser</label>
          <input type="text" class="form-control" name="iduser" id="field_iduser" data-cy="iduser" formControlName="iduser" />
          @if (iduserRef.invalid && (iduserRef.dirty || iduserRef.touched)) {
            <div>
              @if (editForm.get('iduser')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let loginRef = editForm.get('login')!;
        <div class="mb-3">
          <label class="form-label" for="field_login" jhiTranslate="gestionimmobiliereApp.utilisateur.login">Login</label>
          <input type="text" class="form-control" name="login" id="field_login" data-cy="login" formControlName="login" />
          @if (loginRef.invalid && (loginRef.dirty || loginRef.touched)) {
            <div>
              @if (editForm.get('login')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_nom" jhiTranslate="gestionimmobiliereApp.utilisateur.nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_prenom" jhiTranslate="gestionimmobiliereApp.utilisateur.prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateDeNaissance" jhiTranslate="gestionimmobiliereApp.utilisateur.dateDeNaissance"
            >Date De Naissance</label
          >
          <div class="d-flex">
            <input
              id="field_dateDeNaissance"
              data-cy="dateDeNaissance"
              type="datetime-local"
              class="form-control"
              name="dateDeNaissance"
              formControlName="dateDeNaissance"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_motdepasse" jhiTranslate="gestionimmobiliereApp.utilisateur.motdepasse">Motdepasse</label>
          <input
            type="text"
            class="form-control"
            name="motdepasse"
            id="field_motdepasse"
            data-cy="motdepasse"
            formControlName="motdepasse"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="gestionimmobiliereApp.utilisateur.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_photo" jhiTranslate="gestionimmobiliereApp.utilisateur.photo">Photo</label>
          <input type="text" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_pwd" jhiTranslate="gestionimmobiliereApp.utilisateur.pwd">Pwd</label>
          <input type="text" class="form-control" name="pwd" id="field_pwd" data-cy="pwd" formControlName="pwd" />
        </div>

        @let roleRef = editForm.get('role')!;
        <div class="mb-3">
          <label class="form-label" for="field_role" jhiTranslate="gestionimmobiliereApp.utilisateur.role">Role</label>
          <select class="form-control" name="role" formControlName="role" id="field_role" data-cy="role">
            <option [ngValue]="null">{{ 'gestionimmobiliereApp.Role.null' | translate }}</option>
            @for (role of roleValues; track $index) {
              <option [value]="role">{{ 'gestionimmobiliereApp.Role.' + role | translate }}</option>
            }
          </select>
          @if (roleRef.invalid && (roleRef.dirty || roleRef.touched)) {
            <div>
              @if (editForm.get('role')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
