<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (annee(); as anneeRef) {
      <div>
        <h2 data-cy="anneeDetailsHeading"><span jhiTranslate="gestionimmobiliereApp.annee.detail.title">Annee</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ anneeRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gestionimmobiliereApp.annee.an">An</span></dt>
          <dd>
            <span>{{ anneeRef.an }}</span>
          </dd>
          <dt><span jhiTranslate="gestionimmobiliereApp.annee.libelle">Libelle</span></dt>
          <dd>
            <span>{{ anneeRef.libelle }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/annee', anneeRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
