<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (reglement(); as reglementRef) {
      <div>
        <h2 data-cy="reglementDetailsHeading"><span jhiTranslate="gestionimmobiliereApp.reglement.detail.title">Reglement</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ reglementRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gestionimmobiliereApp.reglement.idreg">Idreg</span></dt>
          <dd>
            <span>{{ reglementRef.idreg }}</span>
          </dd>
          <dt><span jhiTranslate="gestionimmobiliereApp.reglement.annee">Annee</span></dt>
          <dd>
            <span>{{ reglementRef.annee }}</span>
          </dd>
          <dt><span jhiTranslate="gestionimmobiliereApp.reglement.date">Date</span></dt>
          <dd>
            <span>{{ reglementRef.date | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="gestionimmobiliereApp.reglement.montant">Montant</span></dt>
          <dd>
            <span>{{ reglementRef.montant }}</span>
          </dd>
          <dt><span jhiTranslate="gestionimmobiliereApp.reglement.montantlettres">Montantlettres</span></dt>
          <dd>
            <span>{{ reglementRef.montantlettres }}</span>
          </dd>
          <dt><span jhiTranslate="gestionimmobiliereApp.reglement.motif">Motif</span></dt>
          <dd>
            <span>{{ reglementRef.motif }}</span>
          </dd>
          <dt><span jhiTranslate="gestionimmobiliereApp.reglement.observ1">Observ 1</span></dt>
          <dd>
            <span>{{ reglementRef.observ1 }}</span>
          </dd>
          <dt><span jhiTranslate="gestionimmobiliereApp.reglement.observ2">Observ 2</span></dt>
          <dd>
            <span>{{ reglementRef.observ2 }}</span>
          </dd>
          <dt><span jhiTranslate="gestionimmobiliereApp.reglement.observ3">Observ 3</span></dt>
          <dd>
            <span>{{ reglementRef.observ3 }}</span>
          </dd>
          <dt><span jhiTranslate="gestionimmobiliereApp.reglement.reste">Reste</span></dt>
          <dd>
            <span>{{ reglementRef.reste }}</span>
          </dd>
          <dt><span jhiTranslate="gestionimmobiliereApp.reglement.locataire">Locataire</span></dt>
          <dd>
            @if (reglement()!.locataire) {
              <div>
                <a [routerLink]="['/locataire', reglement()!.locataire?.id, 'view']">{{ reglementRef.locataire?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gestionimmobiliereApp.reglement.moi">Moi</span></dt>
          <dd>
            @if (reglement()!.moi) {
              <div>
                <a [routerLink]="['/moi', reglement()!.moi?.id, 'view']">{{ reglementRef.moi?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="gestionimmobiliereApp.reglement.utilisateur">Utilisateur</span></dt>
          <dd>
            @if (reglement()!.utilisateur) {
              <div>
                <a [routerLink]="['/utilisateur', reglement()!.utilisateur?.id, 'view']">{{ reglementRef.utilisateur?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/reglement', reglementRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
